{% extends "layouts/main.html" %}

{% set pageName = "Apply for a present day social etiquette guide" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Apply for a present day social etiquette guide</h1>
    <p class="govuk-body">This service provides you with a personalised guide for navigating social interactions in the present day.</p>
    <p class="govuk-body">You will need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>temporal travel documents</li>
      <li>details of your time period of origin</li>
      <li>preferred contact method</li>
    </ul>
    <p class="govuk-body">It takes around <strong>3 to 5 minutes</strong> to complete.</p>
    {{ govukButton({
      text: "Start now",
      href: "/time-period",
      isStartButton: true
    }) }}
  </div>
</div>
{% endblock %}
